@CHARSET "UTF-8";

.lbc-location-wrapper *,
.lbc-location-wrapper *:before, 
.lbc-location-wrapper *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.lbc-location-wrapper img {
	box-shadow: none;
}

.lbc-location-title {
	font-weight: bold;
}

.lbc-table {
	display: table;
}

.lbc-table-row {
	display: table-row;
}

.lbc-table-cell {
	display: table-cell;
	padding: 4px 20px 4px 0;
}

.lbc-row:before, .lbc-row:after {
    content: " ";
    display: table;
}

.lbc-row:after {
    clear: both;
}

.lbc-row-title {
	font-style: italic;
}

.lbc-m-col-half,
.lbc-m-col-full {
	float: left;
	min-height: 1px;
	padding: 0 8px 10px 8px;
}

.lbc-m-col-half {
	width: 50%;
}
.lbc-m-col-full {
	width: 100%;
}

.lbc-business-name {
	padding: 16px 0 10px 0;
	font-size: 20px;
	font-weight: bold;
}

.lbc-social-icons-wrapper {
	padding-top: 0;
	text-align: center;
}

.lbc-social-icons-wrapper a {
	text-decoration: none;
}

.lbc-social-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
}

.lbc-social-icon-facebook {
	background: url('../images/social-icons.png') no-repeat -2px -2px;
}

.lbc-social-icon-twitter {
	background: url('../images/social-icons.png') no-repeat -30px -2px;
}

.lbc-social-icon-youtube {
	background: url('../images/social-icons.png') no-repeat -58px -2px;
}

.lbc-social-icon-google-plus {
	background: url('../images/social-icons.png') no-repeat -86px -2px;
}

.lbc-social-icon-google-places {
	background: url('../images/social-icons.png') no-repeat -2px -30px;
}

.lbc-social-icon-linkedin {
	background: url('../images/social-icons.png') no-repeat -30px -30px;
}

.lbc-social-icon-pinterest {
	background: url('../images/social-icons.png') no-repeat -58px -30px;
}

.lbc-social-icon-foursquare {
	background: url('../images/social-icons.png') no-repeat -86px -30px;
}

.lbc-social-icon-yelp {
	background: url('../images/social-icons.png') no-repeat -2px -58px;
}

.lbc-social-icon-hotfrog {
	background: url('../images/social-icons.png') no-repeat -30px -58px;
}

.lbc-social-icon-merchant-circle {
	background: url('../images/social-icons.png') no-repeat -58px -58px;
}

.lbc-social-icon-digg {
	background: url('../images/social-icons.png') no-repeat -86px -58px;
}

.lbc-social-icon-tumblr {
	background: url('../images/social-icons.png') no-repeat -2px -86px;
}

.lbc-social-icon-stumbleupon {
	background: url('../images/social-icons.png') no-repeat -30px -86px;
}

.lbc-social-icon-flickr {
	background: url('../images/social-icons.png') no-repeat -58px -86px;
}

.lbc-social-icon-delicious {
	background: url('../images/social-icons.png') no-repeat -86px -86px;
}

.lbc-business-addr {
	padding-top: 10px;
}

.lbc-business-coordinates {
	padding-top: 10px;
}

.lbc-map-canvas {
	width: 100%;
	height: 320px;
}

.lbc-map-canvas img {
	max-width: none !important;
}

.lbc-location-hatom-extra {
	text-align: right;
	font-size: 12px;
	font-style: italic;
}

.lbc-location-hatom-extra .entry-title {
	display: none;
}


@media (min-width: 768px) {
	.lbc-col-half,
	.lbc-col-full {
		padding-bottom: 10px;
	}
	
	.lbc-col-half {
		width: 50%;
	}
	
	.lbc-col-full {
		width: 100%;
	}
	
	.lbc-social-icons-wrapper {
		padding-top: 10px;
	}
	
	.lbc-business-addr {
		padding-top: 0;
	}
}